@media only screen and (orientation: landscape) {
    body {
        font: 16px/1.5 Arial, Helvetica, Sans-Serif !important;
    }
    .newsletter input {
        width: 25% !important;
    }
    .contact input, textarea {
        width: 50% !important;
    }
    .contact input {
        height: 30px !important;
    }
}
html, body {
    height: 100%
}
body {
    font: 20px/1.0 Arial, Helvetica, Sans-Serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ccc !important;
}
header {
    background: #202224;
    color: #ccc;
    height: auto;
}
header a {
    color: #ccc;
    text-decoration: none;
    text-transform: uppercase;
}
nav {
    float: left;
    margin-left: 20px;
}
nav div {
    display: inline-block;
}
.menu {
    padding: 25px 10px;
    height: auto;
    text-align: center;
}
.menu:hover {
    background: #343639;
}
.menu-active {
    padding: 25px 10px;
    height: auto;
    text-align: center;
    background: #343639;
}
a:hover{
    color: #fff;
}
.logo {
    float: left;
    border-right: 2px solid #343639;
}
.logo h1 {
    margin: 10px 10px;
    color: #fff;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
section {
    background-color: #343639 !important;
    padding: 5px;
}
section div {
    margin: auto 0;
}
.newsletter {
    height: auto;
    border: 1px solid #202224;
    padding: 15px;
    color: #ccc;
    background: #343639;
    text-align: center;
}
.newsletter input {
    padding: 5px;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
.btn {
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    height: 38px;
    background: #1a1c1d;
    color: #ccc;
    margin-bottom: 10px;
}
.btn:hover {
    background: #202224;
}
.contact  {
    height: 90%;
    text-align: center;
    min-height: auto;
}
.contact input, textarea {
    padding: 5px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
footer {
    height: auto;
    text-align: center;
    background-color: #202224;
    color: #ccc;
    bottom: 0;
    left: 0;
    position: relative;
}
footer p {
    display: inline-block;
}
footer a {
    color: #ccc;
    text-decoration: underline;
}
footer li {
    display: block;
    padding: 0 20px 0 20px;
}
