html, body {
    height: 100%
}
body {
    font: 16px/1.0 Arial, Helvetica, Sans-Serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ccc !important;
    background-color: #343639 !important;
}
header {
    background: #202224;
    color: #ccc;
    height: auto;
    margin-bottom: 10px;
}
header a {
    color: #ccc;
    text-decoration: none;
    text-transform: uppercase;
}
header .container {
    display: inline;
}
nav {
    float: left;
    margin-left: 20px;
}
nav div {
    display: inline-block;
}
.menu {
    padding: 15px 5px;
    height: auto;
    text-align: center;
}
.menu:hover {
    padding: 25px 5px;
    background: #343639;
}
.menu-active {
    padding: 25px 10px;
    height: auto;
    text-align: center;
    background: #343639;
}
a:hover{
    color: #fff;
}
.logo {
    float: left;
    margin: 0;
}
.logo h1 {
    margin: 10px 0;
    color: #fff;
}
.text-container {
    margin: 0;
    overflow: hidden;
}
.text-container p {
    margin:0 15px 0 15px;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.newsletter {
    height: auto;
    border: 1px solid #202224;
    text-align: center;
    font-size: 16px;
}
.newsletter input {
    padding: 5px;
    height: 30px;
    width: 70%;
    border-radius: 5px;
    margin-bottom: 10px;
}
.newsletter form div {
    display: inline;
}
.newsletter .btn {
    width: 25%;
}
.text-container div {
    margin-bottom: 15px;
}
.btn {
    border: 0;
    padding: 0 10px 0 10px;
    height: 38px;
    background: #1a1c1d;
    color: #ccc;
}
.btn:hover {
    background: #202224;
}
.contact {
    height: 100%;
    text-align: center;
    min-height: auto;
}
.contact div {
    margin-bottom: 10px;
}
.contact .btn {
    width: 100%;
}
.contact h1 {
    margin: 0;
}
.contact input, textarea {
    padding: 5px;
    width: 100%;
    height: auto;
}
footer {
    padding-top: 15px;
    text-align: center;
    background-color: #202224;
    color: #ccc;
    bottom: 0;
    left: 0;
    position: relative;
}
footer p {
    display: block;
    margin: 0;
}
footer a {
    color: #ccc;
    text-decoration: underline;
}
footer ul {
    margin-top: 10px;
    padding: 0;
}
footer li {
    display: block;
    padding: 0 20px 0 20px;
}
@media (min-width: 640px) {
    header h1 {
        margin: 10px 10px;
        padding: 0 10px;
    }
    .newsletter input {
        width: 25%;
    }
    .newsletter .btn {
        width: 10%;
    }
    .contact input, textarea {
        width: 30%;
    }
    .contact input {
        height: 30px;
    }
    .contact .btn {
        width: 30%;
    }
    footer p {
        display: inline;
    }
}
