@media only screen and (orientation: landscape) {
    body {
        font: 16px/1.5 Arial, Helvetica, Sans-Serif !important;
    }
}
body {
    font: 26px/1.0 Arial, Helvetica, Sans-Serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff !important;
}
header {
    background: #202224;
    color: #ffffff;
}
header ul {
    margin:  0;
    padding: 0;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    color: #cccccc;
}
nav {
    float: left;
    padding: 10px 0 0 50px;
    margin-top: 10px;
}
.logo {
    float: left;
    border-right: 2px solid #343639;
}
.logo h1 {
    margin: 10px 10px;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
section {
    background-color: #343639 !important;
}
#side-image {
    height: 100% !important;
}
footer {
    min-height: 5%;
    text-align: center;
    background-color: #202224;
    color: #ffffff;
    bottom: 0;
    left: 0;
    position: relative;
}
footer p {
    display: inline-block;
}
footer a {
    text-transform: lowercase;
    text-decoration: underline;
}
